{% block content %}
    <h1 class="title">{{ 'order.list'|trans({}, 'MnumiRestServerBundle') }}</h1>

    <ul id="page-list">
        {% for order in orders %}
            <li>
                <a href="{{ path('api_order_get_order', {'id': order.id, 'key': app.request.get('key')}) }}">{{ order.i }}</a>
            </li>
        {% else %}
            <li>{{ 'order.list.empty'|trans({}, 'MnumiRestServerBundle') }}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('api_order_new_order', {'key': app.request.get('key')}) }}">{{ 'order.new.link'|trans({}, 'MnumiRestServerBundle') }}</a>
    </p>
{% endblock %}
