{% block content %}
    <h1>Create Order Form</h1>
    {%  if (form is not null) %}
        <form action="{{ url('api_order_post_order', {'key': app.request.get('key')}) }}" method="POST" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" value="submit">
        </form>
    {% endif %}
{% endblock %}
