<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Test Runner</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="jasmine/jasmine.css">
  <script type="text/javascript" src="jasmine/jasmine.js"></script>
  <script type="text/javascript" src="jasmine/jasmine-html.js"></script>

  <!-- include source files here... -->
  <script type="text/javascript" src="../js/jquery-1.6.2.min.js"></script>  
  
  <script type="text/javascript" src="../js/underscore.js"></script>
  <script type="text/javascript" src="../js/backbone.js"></script>
  <script type="text/javascript" src="../js/invoice.js"></script>
  
  <!-- include spec files here... -->
  <script type="text/javascript" src="invoice-spec.js"></script>  

</head>
<body>

<script type="text/javascript">
  jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
  jasmine.getEnv().execute();
</script>



  <div id="invoice-app-container" style="display:none;text-align:center; margin:0px auto; padding:15px;">

  </div>

<script type="text/template" id='invoice-form-template'>
      
  <table class="items table" style="width: 1000px;">
  <thead>
   <tr>
     <th>Quantity</th>
     <th>Price</th>   
       
     <th>Price</th>
     <th>Tax</th>   
     <th>Discount</th>   
     <th>Total</th>
     <th>Actions</th>
   </tr>
  </thead>  
  <tbody class="line-items"></tbody>
  
  </table>
  <div>
    <button class="btn new-line-item">New row</button>
   </div> 
</script>

<script type="text/template" id='invoice-item-template'>

<td class="quantity">         
  <input type="text" value="<%= model.get('quantity') %>" name="quantity" />
</td>
<td class="price">
  <input type="text" value="<%= model.get('amount') %>" name="amount" />
</td>
<td>
  <textarea name="descripion" rows="2" cols="30"><%= model.get('description') %></textarea>               
</td>
<td>
  <%=tax_template%>
</td>
<td>
  <input type="text" value="<%= model.get('discount_amount') %>" name="discount_amount" />
</td>  
<td>
  <%= model.getTotalPrice() %>
</td>
<td>
  <button class="btn danger remove-line-item">(X)</button>      
</td>
    
</script>

<script type="text/template" id='tax-template'>

  <select name="tax">
    <option <% if (model.get('tax') == 0) { %> selected="selected" <% } %> value="0">0%</option>
    <option <% if (model.get('tax') == 0.07) { %> selected="selected" <% } %> value="0.07">7%</option>
    <option <% if (model.get('tax') == 0.19) { %> selected="selected" <% } %> value="0.19">19%</option>
    <option <% if (model.get('tax') == 0.23) { %> selected="selected" <% } %> value="0.23">23%</option>    
  </select>

</script>

</body>
</html>