.del_attachment_row
{
    cursor: pointer;
}

.black
{
    color: #000; 
}

legend.large
{
    font-size: 16px;
}

.text_container
{
    clear: both;
    font-size: 16px;
    color: #000; 
    margin-bottom: 23px;    
    font-weight: bold;
}

.big_text
{
    font-size: 30px;
}

.medium_text
{
    font-size: 16px;
}

.small_text
{
    font-size: 14px;
    margin-bottom: 10px;  
}

.last_text
{
    margin-bottom: 10px;
}

.no_top_padding
{
    padding-top: 0;
}

.no_border 
{
    border: 0;
}

/* tabEdit */
.data_container
{
    padding-left: 200px;
    width: 50%;
}

.permission_group_table
{
    width: 100%;
}

.client-users-container a
{
    line-height: 25px;
}

/* arbo list client new order */
li span
{
    cursor: pointer;
}


