.items .quantity input {
  width: 25px;
}

.items .price input {
  width: 50px;
}

.items .tax-rate select {
  width: 50px;
}

.item-delete-button
{
    cursor: pointer;
}

.items td
{
    text-align: right !important;
    vertical-align: middle !important;
}

.items .item-no-td, .items .item_actions
{
    text-align: center !important;
}

.invoice-form
{
    margin-top: 25px;
}

.total_calculation
{
    width: 100%;
    font-size: 16px;
}

.total_calc_td
{
    text-align: right;
    font-weight: bold;
}

.invoice_table
{
    width: 100%;
}

.invoice_field_p_label
{
    padding-top: 0.6em;
}

.width33
{
    width: 33%;
    height: 40px;
    vertical-align: middle;
}

.width33 label
{
    margin-bottom: 0;
}

.invoice-info
{
    display: none;
}

#send_invoice_form input[type=text]
{
    width:100%;
}

#email_invoice_textarea,
#email_invoice_textarea_modal
{
    height:250px;
    width:100%;
}
article.invoice_message_container{
    margin-top: 1em;
    margin-bottom: 1em;
}