.invoice-cost-transfer-details th
{
    vertical-align: middle !important;
    text-align: left;
    padding: 0.5em 0.75em;
    
    background: #a4a4a4 url(../images/old-browsers-bg/planning-header-bg.png) repeat-x top !important;
    color: white;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background: -moz-linear-gradient(
            top,
            #cccccc,
            #a4a4a4
    );
    background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(#cccccc),
            to(#a4a4a4)
    );
    
    -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    border-top: 1px solid white;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #828282;
}

.invoice-cost-transfer-details td
{
    vertical-align: middle !important;
    
    font-size: 16px;
    color: black;
    font-weight: bold;
}