body {
    background: #d5d8db;
    padding: 100px 0 0 0;
    margin: 0;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
body.dark {
    background: #70828f;
}
body, h2 {
    font-size: 12px;
    line-height: 15px;
}
a {
    text-decoration: none;
}

.block {
    width: 428px;
    margin: 0 auto;
    text-align: left;
}
#head {
    background: url(/images/old-browsers-screen/head.jpg) no-repeat center bottom;
    padding: 22px 22px 0 22px;
    }
    body.dark #head {
        background-image: url(/images/old-browsers-screen/head-dark.jpg);
    }
    #head h1 {
    height: 74px;
    line-height: 74px;
    text-align: center;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
#body {
    background: url(/images/old-browsers-screen/body.jpg) no-repeat center bottom;
    padding: 20px 42px 42px 42px;
    }
    body.dark #body {
        background-image: url(/images/old-browsers-screen/body-dark.jpg);
    }
    #body p {
        padding: 0;
        margin: 0 0 15px;
    }
    #body h2 {
        font-weight: bold;
        padding: 0;
        margin: 0 0 15px;
    }

#links {
    height: 120px;
    position: relative; /* Absolute positioning is used to prevent floating issues */
list-style-type: none;
padding: 0;
margin: 0;
}
#links li {
    position: absolute;
    width: 114px;
    height: 50px;
    }
    #links li a {
        display: block;
        height: 50px;
        padding-left: 54px;
        background-repeat: no-repeat;
        color: #666666;
        font-size: 10px;
        line-height: 12px;
    }
    #links li a strong {
        color: #000000;
    }
    #links li a span {
        display: block;
        padding-top: 12px;
    }
    #links li a:hover {
        color: #999999;
        }
        #links li a:hover strong {
            color: #666666;
        }

#links li#link-chrome a {
    background-image: url(/images/icons/browsers/chrome.jpg);
}
#links li#link-firefox {
    left: 115px;
    }
    #links li#link-firefox a {
        background-image: url(/images/icons/browsers/firefox.jpg);
    }
#links li#link-safari {
    left: 230px;
    }
    #links li#link-safari a {
        background-image: url(/images/icons/browsers/safari.jpg);
    }
#links li#link-ie {
    top: 70px;
    }
    #links li#link-ie a {
        background-image: url(/images/icons/browsers/ie.jpg);
        }
        #links li#link-ie a span {
            padding-top: 6px;
        }
#links li#link-opera {
    top: 70px;
    left: 115px;
    }
    #links li#link-opera a {
        background-image: url(/images/icons/browsers/opera.jpg);
        }
        #links li#link-opera a span {
            padding-top: 18px;
        }

#skip {
    background: url(/images/old-browsers-screen/skip.jpg) no-repeat;
    padding: 22px;
    }
    body.dark #skip {
        background-image: url(/images/old-browsers-screen/skip-dark.jpg);
    }
    #skip a {
        display: block;
        padding: 20px;
        color: #dadada;
        }
        #skip a:hover {
            color: #ffffff;
        }
        #skip a img {
            border: 0;
            margin-bottom: -4px;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/fugue/navigation.png', sizingMethod='scale');
        }