.package-big-span 
{
    font-size: 16px;
    font-weight: bold;
}

.package-block 
{
    padding-top: 7px;
    padding-bottom: 7px;
}

.block-content .package-block
{
    margin-left: 0;
    margin-right: 0;
}
.calculation-table
{
    width: 100%;
}

.calculation-table td.label input {
    width: 100%;
}


.calculation-table td
{
    padding: 5px;
}

.calculation-table tr.gray
{
    border-top:1px solid #D9D9D9;
    border-bottom:1px solid #D9D9D9;
}

.calculation-table tr, .calculation-table tr input[readonly=readonly]
{
    background: transparent;
    border:0;
}
.calculation-table input.price_label 
{
    width:200px;
}

.calculation-table .amount, 
.calculation-table input.price_amount,
.calculation-table input.price_system_amount,
.calculation-table input.price_cost
{
    text-align: right;
}

.calculation-table .amount 
{
    padding-right:5%;
    width:20%;
}

.calculation-table tr.big
{
    font-size: 17px;
    font-weight: bold;
}
.calculation-table .small 
{
    width:62px;
}

.calculation-table tfoot 
{
    font-weight:bold; 
    color: #cc3333;
    font-size:1.3em;
}

.calculation-table tfoot .price_label 
{
    padding: 5px 10px;
}

.calculation-table tr .trader.price_label 
{
    display: block;
    padding: 5px;
}

#trader_app.input-with-button button,
#cost_app.input-with-button button
{
    width: auto;
}

#trader_app select.trader_name,
#cost_app select.cost-name
{
    width: 230px; 
}

.calculation-container
{
    margin: 30px; 
    padding-bottom: 20px; 
    background-color: #FFFFCD !important;  
}

#send_calculation_form input[type=text] 
{
    width:100%;
}

#email_calculation_textarea,
#email_calculation_textarea_modal
{
    height:250px;
    width:100%;
}

#trader_app,
#cost_app
{
    padding: 0 10px;
}
#trader_app input.quantity,
#cost_app input.quantity
{
    width: 30px;
}

#trader_app input.price,
#cost_app input.price
{
    width: 70px;
}

#trader_list,
#cost-list
{
    padding: 10px;
    font-size: 14px;
}
#trader_error,
#cost-name-error,
.error-message
{
    font-size: 12px;
    font-weight:bold;
    color: red;
}

/** Order pricelist
---------------------*/
.order-pricelist-div
{
    padding-left: 10px;
}

.order-pricelist-div select
{
    width: 230px;
}


.newTitleInput 
{
    width: 520px !important;;
    height: 35px!important;;
    font-size: 2.5em;
    margin: 0px !important;
    border: none !important;
    font: 18px Arial, Helvetica, sans-serif !important;;
    vertical-align: middle !important;
    padding-left: 20px;
    margin: 20px;
    background: white !important;
    background-color:#FFC !important;
}

#title_area 
{
    padding-left: 20px;
    margin: 20px;
}

#title.bigger 
{
    border: 1px dashed #D5D8D9;
    color: black;
}

#title.bigger:hover
{ 
    background-color:#FFC;
}

.order-package-button
{
    height: 33px; 
    float:right; 
    clear: both; 
    margin-bottom: 15px;
}

.order-status-not-completed-tr td
{
    background-color: #FFFFCC !important;
}

.order-status-completed-tr td
{
    background-color: #ADFFAD !important;
}

.order-status-not-completed-tr:hover td, 
.order-status-completed-tr:hover td
{
    background: none repeat scroll 0 0 #D1E5EF !important;
}

.task
{
    z-index: auto !important;
}

#drag-tr
{
    z-index: 999999;
}

.order-align-center
{
    width: 90px;
    text-align: center !important;
}

/******************** Add Wizard Button ********************/
.add-wizard-button 
{
    display: inline-block;
    border: 1px solid;
    border-color: #9a7ada #8254cb #76549c;
    background: #9b82d3 url(../images/old-browsers-bg/button-element-bg-purple.png) repeat-x left top;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background: -moz-linear-gradient(
        top,
        white,
        #9b82d3 4%,
        #7448a5
        );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(white),
        to(#8754c1),
        color-stop(0.03, #ae92ed)
        );
    -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    -webkit-background-clip: padding-box;
    border-radius: 0.333em;
    color: white;
    -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    font-size: 1.167em;
    padding: 0.286em 0.5em 0.357em;
    line-height: 1.429em;
    cursor: pointer;
    font-weight: bold;
}

.add-wizard-button:hover 
{
    border-color: #9a7ada #8254cb #76549c;
    background: #057fdb url(../images/old-browsers-bg/button-element-hover-bg-purple.png) repeat-x left top;
    background: -moz-linear-gradient(
        top,
        white,
        #ae92ed 4%,
        #8754c1
        );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(white),
        to(#8754c1),
        color-stop(0.03, #ae92ed)
        );
}

.add-wizard-button:active 
{
    border-color: #9a7ada #8254cb #76549c;
    background: #3dbfed url(../images/old-browsers-bg/button-element-active-bg.png) repeat-x top;
    background: -moz-linear-gradient(
        top,
        #bc9fff,
        #ab6af4
        );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#bc9fff),
        to(#ab6af4)
        );
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wizard-files-hr
{
    margin: 10px 0;
}

.prev img, .next img
{
    margin-top: 36px !important;
}

.loader img
{
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

ul.message li.close-bt-order 
{
    display: block;
    position: absolute;
    top: 0.083em;
    right: 0.083em;
    font-size: 1em;
    line-height: 1em;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
    background: url(../images/icons/fugue/cross-small.png) no-repeat center center;
    cursor: pointer;
    -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    -webkit-background-clip: padding-box;
    border-radius: 0.333em;
    opacity: 0.5;
    filter: alpha(opacity=0.5);
}

ul li.close-bt-order:hover 
{
    opacity: 1;
    filter: none;
}

#email_preview
{
    font-size: 15px; 
    border: 2px solid #eeeeee;
}

#order-form-actions-loader
{
    float: right; 
    margin-right: 15px;
}

#item_photos img.file-img {
    min-height: 100px;
}

.order-uneditable #calculation-btn-container {
    display: none;
}
