body 
{
    margin-top: 0px;
    margin-left: 0px;
}

.print-content
{
    width: 662px;
    margin: 0 auto;
}

.company-stamp-dots-p
{
    width: 155px;
    line-height: 21px;
    text-align: center;
    margin: 80px 0 0 0;
    font-size: 12px;      
}

.info-below-p
{
    width: 155px;
    line-height: 21px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 0px;  
    font-size: 12px;   
}

.headTitle-p
{
    line-height: 29px;
    text-align: left;
    padding-left: 194px;
    margin-top: 18px;
    margin-bottom: 0px;
    font-size: 19px;  
    font-weight: bold;
}

.headDocNumber-span
{
    font: 19px 'Arial';
    line-height: 22px;
}

.date-of-issue-p
{
    line-height: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    white-space: nowrap;
    font: 10px 'Arial';   
    padding-left: 194px;
}

/** Table
----------------------*/

.main-table
{
    width: 662px;
    margin-top: 8px;
}

.center
{
    text-align: center;
}

.padding-5px
{
    padding: 5px;
}

.padding-top-10px
{
    padding-top: 10px !important;
}

.padding-left-20px
{
    padding-left: 20px;
}

.border-left-td
{
    border-left: #000000 1px solid;
}

.border-right-td
{
    border-right: #000000 1px solid;
}

.border-top-td
{
    border-top: #000000 1px solid;
}

.border-bottom-td
{
    border-bottom: #000000 1px solid;
}

.vertical-align-top-td
{
    vertical-align: top;
}

.head-p
{
    font: bold 16px 'Arial';
    margin: 0;
}

.content-p
{    
    margin: 0;
    padding-left: 10px;
    font-size: 16px;
}

