body
{
    width: 960px;
    margin: 0 auto;
    font-family: Century Gothic,Verdana,Arial,sans-serif;
}

td 
{
    margin: 0 2px;
}

form 
{
    padding: 0px;
}

.correction-header
{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
}

.item-header
{
	background-color: #cccccc;
	text-align: center;
	font-size: 7pt;
}

.spacer td
{
	background-color: #000000;
	height: 1px;
}

.total-prices-space
{
	background-color: #ffffff;
}

.td-important
{
	background-color: #cccccc;
}

.tax-value
{
	font-size: 12px;
}