/* list */
.collapsible-list .with-icon a.cat-name
{
    width: 80%;
    float: left;
    padding-right: 0;
    margin-right: 0;
}

.collapsible-list .with-icon a.cat-del
{
    width: 16px;
    float: right;
    padding: 0;
    margin: 0;
    background-image: none;
}

/* add category form */
#dialog-add-category-form td
{
    padding: 10px;
}

#control-bar-no-fixed
{
    padding: 1em 0;
    text-align: center;
}

/* forms */
.medium-width
{
    width: 50%;
}

#tab-product
{
    height: auto;
}

.table_container
{
    width: 50%;
    min-width: 405px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.fix_price_table
{
    width: 100%;
    margin-bottom: 0px; 
    border-bottom: 0px;
}

.del_fixedprice_row
{
    cursor: pointer;
}

.refresh_icon_img
{
    margin: 0 !important;
}

.tabs-content
{
    min-height: 300px;
}

.available_values_button_p
{
    text-align: left;
    width:50%
}

.available_values_button_p a:hover
{
    text-decoration: underline;
}

.visible_form_content
{
    margin-bottom: 1.667em;
}

.fixpriceInput
{
    width: 50px;
}

.wizard-add-button-container
{
    float: right; 
    margin-top: 10px;
}

.wizard-delete, .wizard-edit, .wizard-copy
{
    cursor: pointer;
}

.hidden
{
    display: none !important;
}

.wizard-link-td
{
    width: 65px;
}

#wizard-table td
{
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

/* carrier pricelists */
#shops .checkbox_list li
{
    padding-top: 3px;
    padding-bottom: 3px;
}
#wizard-table .handler {
    background: center center url('/images/draggable.png') no-repeat;
    width: 15px;
    height: 40px;
}
#wizard-table td.dragHandle {
    cursor: move;
}
/* hide element PAN-1024  */
#tab-7.tabs-content .available_values_button_p{
    display: none;
}