body {
    font-family: helvetica;
    font-size: 11px;
}

.report
{
   margin:2em auto;
   width: 100%;
   vertical-align: top;
}

.report .main
{
    height: auto;
    background-color: white;
    border: 1px solid grey;
    position: absolute;
}

.report .table
{
    border: 1px solid black;
    border-spacing: 0px;
}

.report .table td, th
{
    border: 1px solid black;
    width: 20%;
}

.report .table .equal th
{
    width: 33%;
}

.title{
   color: #000080;
   font-size: 1.2em;
   font-weight: bold;
   vertical-align: middle;
}

.report td
{
   width:  33%;
}

.report th
{
   background-color: #EEEEEE;
}


.report .tdcenter
{
   text-align: center;
}

.report .tdleft
{
   text-align: left;
}

.report .tdright
{
   text-align: right;
}
.general-information {
	margin:2em 0;
}
.notice td {
	font-size:1.5em;
}