/* carrier pricelists */
.checkbox_list li
{
    padding-top: 3px;
    padding-bottom: 3px;
}

.del_carrier_weight_row
{
    cursor: pointer;
}

.table_new_price_range_container_2
{
    width: 50%;
    min-width: 405px;
    margin-bottom: 10px;
}

.table_new_price_range_container_4
{
    width: 80%;
    margin-bottom: 10px;
}

.price_ranges
{
    width: 100%;
    margin-bottom: 0px; 
    border-bottom: 0px;
}